<!DOCTYPE html>
<html>
  <head>
    <title>Somnium</title>
    <link rel="stylesheet" href="../Static/home.css">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <article>
      <div class="parallax">
        <div class="searchbox_container">
          <div class="item_container">
            <div class="logo_image">
                <img src="../Static/logo.png" />
            </div>
            <form class="search_input_form" action="CHANGE_THIS_TO_THE_ACTUAL_FORM_LOCATION.php">
                <input type="search" class="search_input_field" name="query" placeholder="What would you like to listen to?"></input>
            </form>
            <div class="explore_div">...or <a href="CHANGE_THIS_TO_THE_EXPLORE_LINK_LOCATION.php">explore the musical universe</a></div>
          </div>
        </div>
        <div class="bg__bar">bar</div>
        <div class="textbox">A Cultural Music Escape.<p>Somnium (Latin for The Dream) is a high powered <strong> Machine Learning </strong> data set simulation of different genres of songs that exist on SoundCloud. Moving through different bubbles in a virtual world and playing related music along the way, we hope to inspire people to discover and appreciate different forms of music.</p></div>
        <div class="bg__baz">baz</div>
        <div class="textbox2">About Us.</div>
        <div class="bg__foo">foo</div>
         <div class="geo_dev">geovani<strong>castro</strong>: <br><br>Front end 
         developer.</div>
         <div class="omar_dev">omar<strong>khan</strong>: <br><br>Back end 
         developer.</div>
         <div class="josh_dev">josh<strong>curtis</strong>: <br><br>Back end 
         developer.</div>
         <div class="peter_dev">peter<strong>whidden</strong>: <br><br>Back end 
         developer.</div>
         <div class="kishore_dev">kishore<strong>vasan</strong>: <br><br>Back end 
         developer.</div>
         
      </div>
    </article>
  </body>
</html>